.sidebar-logo {
    width: 75px;
    text-align: left;
    margin: 0;
}
img.sosse-screenshot {
    box-shadow: 0px 0px 4px 4px #eee;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100%;
    object-fit: contain;
}
img.sosse-inline-screenshot {
    vertical-align: bottom;
}
