[submodule "se/deps/linkpreview"]
	path = se/deps/linkpreview
	url = https://github.com/meyt/linkpreview/
[submodule "se/deps/fake-useragent"]
	path = se/deps/fake-useragent
	url = https://github.com/fake-useragent/fake-useragent.git
[submodule "se/deps/unicode_mime_icons"]
	path = se/deps/unicode_mime_icons
	url = https://github.com/biolds/unicode_mime_icons.git
