include se/deps/fake-useragent/src/fake_useragent/data/*
include se/deps/unicode_mime_icons/*
include se/static/se/*
include se/static/se/node_modules/@kurkle/color/dist/*.js
include se/static/se/node_modules/chart.js/dist/*.js
include se/static/se/node_modules/chart.js/dist/*/*.js
include se/static/se/node_modules/chartjs-adapter-luxon/dist/*.min.js
include se/static/se/node_modules/luxon/build/global/luxon.min.js
include se/static/swagger/*
include se/templates/admin/*
include se/templates/se/*
include se/templates/se/components/*
include sosse/search_engines.json
include sosse/mime_plugins.json
