bs4
cssutils
defusedxml
django<4
django-uwsgi
djangorestframework
django-filter
drf-spectacular
feedparser
html5lib
langdetect
lxml
markdown
pillow
psutil
psycopg2
publicsuffix2
python-magic
requests
selenium<4.9
