bs4
cssutils
defusedxml
django<4.3
django-filter
django-treebeard
django-uwsgi
djangorestframework
drf-spectacular
feedparser
html5lib
langdetect
lxml
markdown
pillow
psutil
psycopg2-binary
publicsuffix2
python-magic
pytz
requests
selenium<4.25
