{% load i18n %}
{% load static %}

{% if app_list %}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
      <table>
        <caption>
          <h4>
            {% if app.app_label == 'se' %}
              <img id="image-magnifier" src="{% static 'se/icon-search.svg' %}" style="width: 20px" />
              {{ app.name }}
            {% elif app.app_label == 'auth' %}
              <img src="{% static 'se/icon-user.svg' %}" style="width: 20px" />
              Authentication
            {% endif %}
           </h4>
        </caption>
        {% if app.app_label == 'se' %}
          {% if 'se.add_document' in perms %}
            <tr>
              <th scope="row">🌐  <a href="{% url 'admin:queue' %}">Crawl a new URL</a></th>
              <td></td>
              <td></td>
            </tr>
          {% endif %}
          {% if 'se.view_crawlerstats' in perms %}
            <tr>
               <th scope="row"><div style="display: inline; color: #1ce51c">✔ </div><a href="{% url 'admin:crawl_status' %}">Crawl status</a></th>
              <td></td>
              <td></td>
            </tr>
          {% endif %}
          {% if request.user.is_staff and request.user.is_superuser %}
            <tr>
              <th scope="row">📊 <a href="{% url 'admin:stats' %}">Statistics</a></th>
              <td></td>
              <td></td>
            </tr>
          {% endif %}
        {% endif %}
        {% for model in app.models %}
          <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path %} current-model{% endif %}">
            {% if model.admin_url %}
              <th scope="row">{% if model.name == 'Crawl policies' %}⚡ {% endif %}<a href="{{ model.admin_url }}"{% if model.admin_url in request.path %} aria-current="page"{% endif %}>{{ model.name }}</a></th>
            {% else %}
              <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
              <td><a href="{{ model.add_url }}" class="addlink">{% translate 'Add' %}</a></td>
            {% else %}
              <td></td>
            {% endif %}

            {% if model.admin_url and show_changelinks %}
              {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% translate 'View' %}</a></td>
              {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% translate 'Change' %}</a></td>
              {% endif %}
            {% elif show_changelinks %}
              <td></td>
            {% endif %}
          </tr>
          {% if app.app_label == 'se' and model.name == 'Crawl policies' %}
          {# hack to insert a title #}
          </table>
          </div>
          <div class="app-{{ app.app_label }} module{% if app.app_url in request.path %} current-app{% endif %}">
            <table>
              <caption>
                <h4><img src="{% static 'se/icon-cog.svg' %}" style="width: 20px; padding-right: 5px" />Advanced</h4>
              </caption>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}
