{% extends 'admin/base.html' %}
{% load i18n %}
{% load static %}

{% block stylesheet %}{% static "se/style.css" %}{% endblock %}

{% block extrastyle %}
    <link rel="icon" href="{% static "se/bubble.svg" %}" />
    <link rel="stylesheet" href="{% static "se/admin-base.css" %}">
{% endblock %}

{% block extrahead %}
    <script src="{% static 'se/base.js' %}" defer></script>
{% endblock %}

{% block usertools %}
    <div id="top_bar">
        <div style="padding-left: 8px; margin-top: 8px;">
            <h3>Configuration</h3>
            {% include "se/main_menu.html" %}
            {% block top_bar %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block content_title %}
    <h3>{{ page_title }}</h3>
{% endblock %}
