<span {% if add_to_queue %}class="{{ label_tag }}"{% else %}title="Recursion"{% endif %}>
    {% if collection.recursion == Collection.CRAWL_NEVER %}
      ⛔
    {% else %}
      ⚡
    {% endif %}
    {% if add_to_queue %}
        {% if collection.recursion == Collection.CRAWL_ALL %}
            Recurse into matching URLs
            {% if collection.recursion_depth > 1 %}
            , {{ collection.recursion_depth }} level{{ collection.recursion_depth|pluralize }} depth otherwise</li>
            {% endif %}
        {% elif collection.recursion == Collection.CRAWL_ON_DEPTH %}
            Crawl depending on depth
        {% else %}
            {{ urls|length|pluralize:"Only this URL,Only these URLs" }}
        {% endif %}
    {% else %}
        {% if collection.recursion == Collection.CRAWL_ALL %}
            recurse all
            {% if collection.recursion_depth > 1 %}
            , {{ collection.recursion_depth }} level{{ collection.recursion_depth|pluralize }} depth otherwise</li>
            {% endif %}
        {% elif collection.recursion == Collection.CRAWL_ON_DEPTH %}
            recursion limited
        {% else %}
            never recurse
        {% endif %}
    {% endif %}
</span>

<span class="{{ label_tag }}"{% if not add_to_queue %} title="Browser"{% endif %}>
    🌐 {% if add_to_queue %}with{% endif %}
    {% if collection.default_browse_mode == DomainSetting.BROWSE_DETECT %}
        {{ settings.SOSSE_DEFAULT_BROWSER|title }}
        {% if add_to_queue %}
            if necessary
        {% else %}
            / Request
        {% endif %}
    {% elif collection.default_browse_mode == DomainSetting.BROWSE_CHROMIUM %}
        Chromium
    {% elif collection.default_browse_mode == DomainSetting.BROWSE_FIREFOX %}
        Firefox
    {% else %}
        Python Request
    {% endif %}
</span>

<span class="{{ label_tag }}"{% if not add_to_queue %} title="Recurrence"{% endif %}>
    🕑
    {% if collection.recrawl_freq == Collection.RECRAWL_FREQ_NONE %}
        only once
    {% elif collection.recrawl_freq == Collection.RECRAWL_FREQ_CONSTANT %}
        {% if add_to_queue %}
            every {{ recrawl_every }}
        {% else %}
            constant
        {% endif %}
    {% else %}
        {% if add_to_queue %}
            from every {{ recrawl_min }} to every {{ recrawl_max }}
        {% else %}
            adaptive
        {% endif %}
    {% endif %}
</span>

{% if collection.take_screenshots %}
    <span class="{{ label_tag }}">
        {% if add_to_queue %}
            📷 take screenshots
        {% else %}
            📷 screenshots
        {% endif %}
    </span>
{% endif %}

{% if collection.snapshot_html %}
    <span class="{{ label_tag }}">
        {% if add_to_queue %}
            🔖 HTML archive
        {% else %}
            🔖 archive
        {% endif %}
    </span>
{% endif %}

{% with webhooks_count=collection.webhooks.count %}
    {% if webhooks_count %}
        <span class="{{ label_tag }}">
          📡 {{ webhooks_count }} webhook{{ webhooks_count|pluralize }}
        </span>
    {% endif %}
{% endwith %}
