[Unit]
Description=OSSE crawler
After=syslog.target

[Service]
ExecStartPre=-mkdir -p /run/osse /var/log/osse
ExecStartPre=-touch /var/log/osse/crawler.log
ExecStartPre=-chown www-data:www-data /var/log/osse/crawler.log
ExecStart=/usr/bin/python3 /usr/bin/osse-admin crawl
User=www-data
Group=www-data

RuntimeDirectory=
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
