[Unit]
Description=SOSSE crawler
After=syslog.target network.target postgresql.service

[Service]
ExecStartPre=-+mkdir -p /run/sosse /var/log/sosse /var/lib/sosse/downloads /var/lib/sosse/screenshots /var/lib/sosse/html /var/www/.mozilla /var/www/.cache /var/lib/sosse/browser_config
ExecStartPre=-+touch /var/log/sosse/crawler.log /var/log/sosse/debug.log /var/log/sosse/main.log /var/log/sosse/webserver.log
ExecStartPre=-+chown www-data:www-data /run/sosse /var/lib/sosse/ /var/log/sosse/ /var/www/.mozilla /var/www/.cache /var/lib/sosse/browser_config
ExecStart=/usr/bin/sosse-admin crawl
User=www-data
Group=www-data

RuntimeDirectory=
Restart=always
KillSignal=SIGQUIT
Type=simple
NotifyAccess=all

[Install]
WantedBy=multi-user.target
