#menu {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 80px;
}
#logo {
    background-color: #e7f0ff;
    padding: 5%;
    border-radius: 5%;
    border-width: 1px;
    width: 50%;
}
#logo:hover {
    background-color: #eee;
}
.panel {
    padding: 4px 4px 4px 4px;
    border-color: #cfcbcb;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    background-color: #fff;
    display: none;
}
.menu_links {
    text-align: center;
}
.links {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: #000;
}
.links:hover {
    background-color: #e7f0ff;
}
input,select {
    background-color: #e7f0ff;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e7f0ff;
    padding: 10px;
    margin: 2px 0px 2px 0px;
}
input:focus,select:focus {
    outline: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #6066bf;
}
input:hover,select:hover {
    background-color: #eee;
}
