{% extends "se/base.html" %}

{% block body %}
    <p>
        SOSSE is a <a href="https://www.selenium.dev/">Selenium</a> based Open Source Search Engine {{ animal }}.
    </p>
    <p>
        It is distributed under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License version 3</a>.
    </p>
    <p>
        You can download a copy of its source code on <a href="https://gitlab.com/biolds1/sosse">Gitlab</a>.
    </p>

    SOSSE {{ settings.SOSSE_VERSION_TAG }}
    {% if settings.SOSSE_VERSION_TAG != 'dev' %}
        ({{ settings.SOSSE_VERSION_COMMIT }})
    {% endif %}
    - Copyright 2022-2024 Laurent Defert.
{% endblock %}
