{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if favicon %}
    <link rel="icon" href="{{ favicon }}" />
    {% endif %}
    <title>Bubble Search{% if page_title %} · {{ page_title }}{% endif %}</title>

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static "se/style.css" %}">
    <style>
        {% block css %}
        {% endblock %}
    </style>

    <script>
        function getLang() {
          if (localStorage.getItem('myseLanguage')) {
            return localStorage.getItem('myseLanguage');
          } else {
            return (navigator.language || navigator.userLanguage).replace(/-.*/, '');
          }
        }
        function getPageSize() {
          if (localStorage.getItem('mysePageSize')) {
            return parseInt(localStorage.getItem('mysePageSize'));
          } else {
            return {{ settings.MYSE_DEFAULT_PAGE_SIZE }};
          }
        }


        document.addEventListener("DOMContentLoaded", function(event) {
            const buttons = document.getElementsByClassName('menu_button');
            for (let i = 0; i < buttons.length; i++) {
                const el = buttons[i];
                el.addEventListener('click', function(ev) {
                    const panel = ev.target.parentElement.getElementsByClassName('panel')[0];
                    const panelDisplayed = panel.style.display === 'block';
                    panel.style.display = panelDisplayed ? 'none': 'block';
                }, false);
            }
        });

        // Close menu panels on click outside
        // https://www.w3docs.com/snippets/javascript/how-to-detect-a-click-outside-an-element.html
        document.addEventListener("click", (evt) => {
            const panels = document.getElementsByClassName('panel');
            for (let i = 0; i < panels.length; i++) {
                const panel = panels[i];

                if (panel.style.display === 'none') {
                    continue;
                }

                let targetEl = evt.target;
                let needHide = true;
                const button = panel.parentElement.getElementsByClassName('menu_button')[0];

                while (targetEl) {
                    if(targetEl === button) {
                        needHide = false;
                        break
                    }
                    targetEl = targetEl.parentNode;
                }
                if (needHide) {
                    panel.style.display = 'none';
                }
            }
        });
        {% block js %}
        {% endblock %}
    </script>
</head>
<body>
    <div id="top_bar">
        <div style="padding-left: 8px; margin-top: 8px;">
            {% if page_title and not hide_title %}
                <h3>{{ page_title }}</h3>
            {% endif %}
            {% include "se/main_menu.html" %}
            {% block top_bar %}
            {% endblock %}
        </div>
    </div>

    <div style="padding: 20px 40px 20px 40px">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
