{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
    <meta charset="utf-8">
    {% if favicon %}
        <link rel="icon" href="{{ favicon }}" />
    {% else %}
        <link rel="icon" href="{% static "se/logo.svg" %}" />
    {% endif %}
    <title>SOSSE{% if title %} · {{ head_title|default:title }}{% endif %}</title>
    <script src="{% static 'se/base.js' %}"></script>

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static "se/style.css" %}">

    <style>
        {% block css %}
        {% endblock %}
    </style>

    <script>
        {% block js %}
        {% endblock %}
    </script>
</head>

<body class="light-mode">
    <script type="text/javascript">
      function setTheme(colorScheme) {
        const other = colorScheme === 'dark' ? 'light-mode' : 'dark-mode';
        colorScheme = `${colorScheme}-mode`;
        if (document.body.classList.contains(other)) {
          document.body.classList.remove(other);
        }
        if (!document.body.classList.contains(colorScheme)) {
          document.body.classList.add(colorScheme);
        }
      }

      const theme = localStorage.getItem('sosseTheme') || 'auto';

      if (theme === 'auto') {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          setTheme('dark');
        }
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
          const newColorScheme = event.matches ? 'dark' : 'light';
          setTheme(newColorScheme);
        });
      } else {
        setTheme(theme);
      }
    </script>
    {% block body_base %}
    {% endblock %}
</body>
</html>
