<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Search{% if title %} · {{ title }}{% endif %}</title>

    <style>
        #menu {
            float: right;
        }
        .links {
            display: block;
            text-align: right;
            font-size: 13px;
            text-decoration: none;
        }
        {% block css %}
        {% endblock %}
    </style>

    <script>
        function getLang() {
          if (localStorage.getItem('myseLanguage')) {
            return localStorage.getItem('myseLanguage');
          } else {
            return (navigator.language || navigator.userLanguage).replace(/-.*/, '');
          }
        }

        function getPageSize() {
          if (localStorage.getItem('mysePageSize')) {
            return parseInt(localStorage.getItem('mysePageSize'));
          } else {
            return {{ settings.MYSE_DEFAULT_PAGE_SIZE }};
          }
        }
        {% block js %}
        {% endblock %}
    </script>
</head>
<body>
    <div id="menu">
        <a href="/" class="links">Home</a>
        <a href="/prefs/" class="links">Prefs</a>
        <a href="/stats/" class="links">Stats</a>
        <a href="/admin/" class="links">Admin</a>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
