<div id="top_bar_links">
    <p style="color: #080; font-size: 13px">
        {{ beautified_url }}
    </p>
    <ul class="cache_links" style="margin-bottom: 20px">
      <li>{{ doc.get_source_link }}</li>
      {% if 'se.view_document' in perms %}
        <li>⭐<a href="{% url 'admin:se_document_change' doc.id %}">Administration</a></li>
      {% endif %}
      <li>🔗<a href="{% url 'search_redirect' %}?ft1=inc&ff1=lto_url&fo1=equal&fv1={{ doc.url|urlencode }}">Pages linking here</a></li>
      <li>🔗<a href="{% url 'search_redirect' %}?ft1=inc&ff1=lby_url&fo1=equal&fv1={{ doc.url|urlencode }}">Links from this page</a></li>
    </ul>
    <div class="cache_links" style="margin-bottom: 10px">
      {% if other_links %}
        {% for link in other_links %}
          {% if view_name != link.name %}
            <a class="tab_link"href="{{ link.href }}">{{ link.text_icon }} {{ link.text }}</a>
          {% else %}
            <a class="tab_link" id="tab_selected">
              {{ link.text_icon }} {{ link.text }}
            </a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    {% if doc.redirect_url %}
        <br/>
        This page redirects to <a href="{{ www_redirect_url }}">{{ doc.redirect_url }}</a> · <a href="{{ doc.redirect_url }}">🌍</a>
    {% endif %}
    {% if doc.too_many_redirects %}
        <br/>
        Redirection was not followed, because the crawler was redirected too many times
    {% endif %}
</div>
