{% extends "se/base.html" %}

{% block body %}
    <p>
        This file was not {% if method == 'mimetype' %}saved{% else %}downloaded{% endif %} because its {{ method }} matched the exclusion regex of assets to download.
    </p>
    {% if collection and 'se.view_collection' in perms %}
        <p>
            The collection <a href="{% url 'admin:se_collection_change' collection.id %}">{{ collection }}</a> can be modified to make this file available.
        </p>
    {% endif %}
{% endblock %}
