{% extends "se/base.html" %}

{% block css %}
    .search-form {
        text-align: center;
        padding: 10px;
    }
    .res-title {
        margin-bottom: 0px;
    }
    .res-url {
        text-decoration: none;
        color: #080;
        font-size: 13px;
    }
    .res-rank {
        font-size: 10px;
        display: inline;
    }
    .pagination {
        padding: 20px 0px 20px 0px;
    }
{% endblock %}

{% block js %}
window.onload = function() {
    const langInput = document.getElementById('id_l');
    langInput.value = getLang();

    const pageSize = document.getElementById('id_ps');
    pageSize.value = getPageSize();
}
{% endblock %}

{% block body %}
    <form method="get" class="search-form" id="search_form">
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {# {{ field.label }} #}{{ field }}
        {% endfor %}
        <input type="submit" value="🔎">
    </form>
    {% if results %}
        <hr/>
        {{ results|length }} result{{ results|pluralize:"s" }}
        {% for r in paginated %}
            <a href="{{ r.url }}">
                <h3 class="res-title">{{ r.title }}</h3>
            </a>
            <a href="{{ r.url }}" class="res-url">
                {{ r.url }}
            </a>
            <div class="res-rank">/ {{ r.rank|floatformat:"1" }}</div>
            <div class="res-rank">{{ r.lang_iso_639_1 }}</div>
            <br/>
            <div class="headline">{{ r.headline }}</div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if paginated.has_previous %}
                    <a href="{{ page_first }}">&laquo; first</a>
                    <a href="{{ page_previous }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ paginated.number }} of {{ paginated.paginator.num_pages }}.
                </span>

                {% if paginated.has_next %}
                    <a href="{{ page_next }}">next</a>
                    <a href="{{ page_last }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
