{% load static %}
<div id="user_menu" class="menu">
    <div id="menu_username">
        {% if online_status and settings.SOSSE_ONLINE_SEARCH_REDIRECT %}
            {% if online_status == 'online' %}
                <div id="online_status" style="display: inline" title="Online">
                    <svg height="12" width="12">
                        <circle cx="6" cy="6" r="6" stroke="#96dd6f" stroke-width="1" fill="#78b159" />
                    </svg>
                </div>
            {% elif online_status == 'offline' %}
                <div id="online_status" style="display: inline" title="Offline">
                    <svg height="12" width="12">
                        <circle cx="6" cy="6" r="6" stroke="#fddc92" stroke-width="1" fill="#fdcb58" />
                    </svg>
                </div>
            {% endif %}
        {% endif %}
        {% if user.has_usable_password %}
            {% firstof user.get_short_name user.get_username %}
        {% endif %}
    </div>
    <button class="menu_button img_button" id="user_menu_button" title="User"></button>
    <div id="user_menu_panel" class="panel">
        <a href="/prefs/" class="links menu_links">Preferences</a>
        {% if user.is_active %}
            <a href="{% url 'history' %}" class="links menu_links">History</a>
            <a href="{% url 'admin:password_change' %}" class="links menu_links">Change pass</a>
            <a href="{% url 'logout' %}" class="links menu_links">Log out</a>
        {% else %}
            <a href="{% url 'login' %}" class="links menu_links">Log in</a>
        {% endif %}
        <a href="/swagger/" class="links menu_links">Rest API</a>
        <a href="https://sosse.readthedocs.io/en/stable/" class="links menu_links">Documentation</a>
        <a href="https://discord.gg/Vt9cMf7BGK" class="links menu_links">Discord</a>
        <a href="{% url 'about' %}" class="links menu_links">About</a>
    </div>
</div>
{% if user.is_active and user.is_staff %}
    <div id="conf_menu" class="menu">
        <button class="menu_button img_button" id="conf_menu_button" title="Configuration"></button>
        <div id="conf_menu_panel" class="panel">
            <a href="{% url 'admin:index' %}" class="links menu_links">Administration</a>
            <a href="{% url 'admin:queue' %}" class="links menu_links">Crawl a new url</a>
            <a href="{% url 'admin:crawl_status' %}" class="links menu_links">Crawl status</a>
            <a href="{% url 'admin:stats' %}" class="links menu_links">Statistics</a>
        </div>
    </div>
{% endif %}
