{% if paginated.paginator.num_pages %}
    <div class="pagination">
        <div style="padding-bottom: 15px">
            {{ paginated.number }} of {{ paginated.paginator.num_pages }}
        </div>
        <div>
            {% if paginated.has_previous %}
                <a class="a_button" href="{{ page_previous }}">Prev</a>
            {% else %}
                <a class="a_button a_button_disabled" onclick="return false">Prev</a>
            {% endif %}
                ·
            {% if paginated.has_next %}
                <a class="a_button" href="{{ page_next }}">Next</a>
            {% else %}
                <a class="a_button a_button_disabled" onclick="return false">Next</a>
            {% endif %}
        </div>
    </div>
{% endif %}
