{% extends "se/base.html" %}

{% block js %}
document.addEventListener("DOMContentLoaded", function(event) {
    const theme = localStorage.getItem('sosseTheme') || 'auto';
    const themeSelect = document.getElementById('theme');
    const themeSelectOpts = themeSelect.getElementsByTagName('option');
    for (let i = 0; i < themeSelectOpts.length; i++) {
        const node = themeSelectOpts[i];
        if (node.getAttribute('value') === theme) {
            node.setAttribute('selected', '');
        }
    };

    const supportedLangs = {{ supported_langs|safe }};
    const langSelect = document.getElementById('language');
    const userLang = getLang();

    Object.keys(supportedLangs).map(function (langIso) {
        const lang = supportedLangs[langIso];
        const langInput = document.createElement('option');
        langInput.value = langIso;

        const langTitle = lang.name[0].toUpperCase() + lang.name.substr(1);
        if (lang.flag) {
            langInput.text = `${lang.flag} ${langTitle}`;
        } else {
            langInput.text = langTitle;
        }

        if (langIso === userLang) {
            langInput.setAttribute('selected', '');
        }
        langSelect.append(langInput);
    });

    const pageSize = document.getElementById('page_size');
    pageSize.value = getPageSize({{ settings.SOSSE_DEFAULT_PAGE_SIZE }});

    const cachedLinks = document.getElementById('cached_links');
    cachedLinks.checked = getCachedLinks();

    {% if settings.SOSSE_ONLINE_SEARCH_REDIRECT %}
    const selectedOnlineMode = getOnlineMode();
    const onlineMode = document.getElementById('online_mode');
    const onlineModeOpts = onlineMode.getElementsByTagName('option');
    for (let i = 0; i < onlineModeOpts.length; i++) {
        const node = onlineModeOpts[i];
        if (node.getAttribute('value') === selectedOnlineMode) {
            node.setAttribute('selected', '');
        }
    };
    {% endif %}
});

function save() {
    const themeSelect = document.getElementById('theme');
    localStorage.setItem('sosseTheme', themeSelect.value);

    const langSelect = document.getElementById('language');
    localStorage.setItem('sosseLanguage', langSelect.value);

    const pageSize = document.getElementById('page_size');
    localStorage.setItem('sossePageSize', pageSize.value);

    const cachedLinks = document.getElementById('cached_links');
    localStorage.setItem('sosseCachedLinks', cachedLinks.checked);

    {% if settings.SOSSE_ONLINE_SEARCH_REDIRECT %}
    const onlineMode = document.getElementById('online_mode');
    localStorage.setItem('sosseOnlineMode', onlineMode.value);
    {% endif %}

    window.location = '/';
}

function cancel() {
    window.location = '/';
}

function onlineCheck () {
    const wait = document.getElementById('online_check_wait');
    const result = document.getElementById('online_check');
    result.innerHTML = '';
    wait.style = 'display: inline-block';
    fetch("{% url 'online_check' %}").then((response) => response.json()).then((response) => {
        wait.style = 'display: none';
        const url = '{{ settings.SOSSE_ONLINE_CHECK_URL|escapejs }}';
        if (response.success) {
            result.innerHTML = `<div style="color: green; display: inline-block;">✔</div> Request to ${url} succeeded.`;
        } else {
            result.innerHTML = `<div style="color: red; display: inline-block;">✖</div> Request to ${url} failed: ${response.status}`;
        }
    });
}

{% endblock %}

{% block css %}
.label {
    padding-bottom: 5px;
    font-weight: bold;
}
{% endblock %}

{% block body %}
    <div class="label">Theme</div>
    <select id="theme">
        <option value="auto">Auto</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </select>
    <br/><br/>
    <div class="label">Search terms parsing language</div>
    <select id="language"></select>
    <br/><br/>
    <div class="label">Results by page</div>
    <input id="page_size" type="number" step="10" min="10" max="{{ settings.SOSSE_MAX_PAGE_SIZE }}">
    <br/><br/>
    <input id="cached_links" type="checkbox">
    <label for="cached_links">Search result principal links point to cache</label>
    <br/><br/>

    {% if settings.SOSSE_ONLINE_SEARCH_REDIRECT %}
        <div class="label">Online mode</div>
        <select id="online_mode">
            <option value="">Autodetect</option>
            <option value="o">Force online</option>
            <option value="l">Force local</option>
        </select>
        <br/><br/>
        <button onclick="onlineCheck()">Test autodetection</button>
        <div id="online_check_wait" class="loader" style="display: none;">🪃</div>
        <div id="online_check"></div>
        <br/><br/>
    {% endif %}

    <button onclick="save()">Save</button>
    <button onclick="cancel()">Cancel</button>
{% endblock %}
