{% extends "se/base.html" %}
{% block top_bar %}
    <div id="top_bar_links">
        <ul class="archive_links" style="margin-bottom: 20px">
            <li>🔗<a href="{% url 'search_redirect' %}?ft1=inc&ff1=lto_url&fo1=equal&fv1={{ url|urlencode }}">Links to here</a></li>
            <li>🔗<a href="{% url 'search_redirect' %}?ft1=inc&ff1=lby_url&fo1=equal&fv1={{ url|urlencode }}">Links from here</a></li>
            <li>🌍<a href="{{ url }}" {{ extern_link_flags }}>Source</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <p>
        🚫 This page has not been indexed yet.
    </p>
    <p>
    </p>
    {% if 'se.add_document' in perms %}
      <a href="{% url 'admin:queue' %}?urls={{ url|urlencode }}&show_on_homepage=false" class="a_button">Add to Crawl Queue</a>
    {% endif %}
{% endblock %}
