{% extends "se/base.html" %}
{% load static %}

{% block top_bar %}
    {% include "se/cached.html" %}
{% endblock %}

{% block body %}
    <ul>
        <li>{{ lang }} detected</li>
        <li>The document has {{ doc.content.split|length }} words</li>
        <li>The document has {{ doc.vector.split|length }} unique words</li>
    </ul>
    <hr/>
    <ul class="ul_stripe">
        {% for word, weights in words %}
            <li><b>{{ word }}</b>: {{ weights }}</li>
        {% endfor %}
    </ul>
{% endblock %}
